#contentPane{
    width: 1000px;
    height: 1300px;
    border: ;
}
#profile{
   width: 200px; 
   height: 200px;
   background-color:rgb(231, 222, 222);
   border-radius: 40px;
 margin-top: 60px;
 margin-left: 60px;
 border: 2px solid rgb(17, 17, 17);
}
