html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.bdy {
    height: 100%;
}

.nav-container{
    background-image: url("dani.jpg");
    height:150px ;
   background-position: 100%; 
 background-size: cover;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 0px;


}
.logo{
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 3px;
text-transform: uppercase;
color: black;
font-size: 35px;

 
}

.mylst ul li {
  list-style-type:none ;
  float: left;
  width: 200px;
  text-align: center;
  height: 40px;
  background-color:rebeccapurple;
  opacity: .7;
  line-height: 40px;
  font-size: 20px;
  margin-right: 2px;   
  margin-top: 1px;
  align-items: left;




}

.mylst ul a{
    text-decoration: none;
    color: white;
    display: block;
    
    
}
.mylst ul li a:hover{
    background-color: green;


}
.mylst ul li ul li{
    display: none;
    max-width: 100%; 
}
.mylst ul li:hover ul li{
    display: block; 
}

.title{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%)
 


}

.title h1{
   color:navy; 
   font-size: 40px;
   font-family: fantasy;
   letter-spacing: 3px;
   
}

.button {
  position: absolute;
  top:73%;
  left:50%;
  transform:translate(-50%,-50%);


}
.btn{
    border: 1px solid maroon;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    transition:0.6s ease ;
    background-color:navy;

}
.btn:hover{
  background-color: olive;
  color:black;
  box-shadow: aqua;
}



.ftr {
    background-color: black;
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: justify;
    stroke-opacity: initial;
}

.ftr:hover {
    color:lightcyan;
}

#linke {
    text-align: center;
}

.far {
    color: white;
    size: 75px;
}

.tp-ftr {
    padding: 10px;
    border-right: 10px solid gold;
    flex-basis: 35%;
}

.btm-ftr {

    border-right: 10px solid gold;
    flex-basis: 35%;

}

.btm-ftr ul {
    list-style-type: none;
    padding-left: 0px;

}

.explr {

    padding-right: 0px;




}

.explr input {
    padding: 10px;
    margin-bottom: 10px;


}

#btn {
    color: black;
    height: 45px;
    width: 90px;
    background: hotpink;
    font-size: large;
}

#btn:hover {
    background-color: green;
}


.cpy-ryt {
    background-color: white;
    text-align: center;
    height: 60px;
    widows: 100%;
    padding-top: 35px;
    color: black;
    font: bolder;
}

.myNav :active {
    transform: translate(0);
}

@media only screen and (max-width: 650px) {
    body {
      background-color: lightblue;
    }
    .nav-container{
        margin-top: 25px;

    }
    .button{
     text-align: center;
    
     flex-direction: column;
     display:flex;
    }
    ul li {
      display: flex;
     margin-top: 15px;
     transition: ease-in;
    
    }

  }