.group{
float: left;
}
.list1{
    /* float: left; */
    color: aqua; 
}
.list1:hover{
    color: rgb(109, 22, 32); 
}
.list:hover .group1{
    display: block;
}
.group1 {
    display: none;
  background-color: #f9f9f9;
    /* min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  */
     /* position: absolute; */
    
  }
  .group1 ul li {
      list-style-type: none;
      /* float:initial; */
  }
  .group1 ul li a{
    padding: 12px 16px;
    /* color: black;
  
  text-decoration: none; */
  display: block;
}
.lista
 
